<h5 style="text-align:center">Lista de Datos</h5>
<div class="table-responsive mt-3 fireang">
  <table class="table  table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div class="alert alert-success fireang" role="alert" *ngFor="let item of items">
  {{item.nombre}} {{item.apellido}}
</div>

<style>
  .fireang {
    width: 48%;
    float: left;
    margin-right: 10px;
  }
</style>

<!-- Autor: Santiago Recalde -->